################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/.vs
appsettings.json
appsettings.*.json

/HaircutManager/bin/Debug/net8.0
