@{
    ViewData["Title"] = "Kalendarz";
}

<h2>@ViewData["Title"]</h2>

<script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.11/index.global.min.js'></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'timeGridWeek',
            locale: 'pl',
            slotDuration: '00:15:00', // Ustawia sloty na 15 minut
            slotLabelInterval: '00:15:00', 
            slotMinTime: '08:00:00',
            slotMaxTime: '19:00:00',

            slotLabelFormat: {
                hour: '2-digit', // Format godziny (np. "02", "13")
                minute: '2-digit', // Format minuty (np. "00", "30")
                hour12: false // Użyj formatu 24-godzinnego
            },

            headerToolbar: {
                left: 'prev,next today',
                center: 'title',
                right: 'dayGridMonth,timeGridWeek,timeGridDay'
            },
            buttonText: {
                today: 'Dziś',
                month: 'Miesiąc',
                week: 'Tydzień',
                day: 'Dzień'
            },
            eventClick: function (info) {
                window.location.href = '/Reservations/Details/' + info.event.id;
            },

            eventSources: [
                
                {
                    url: '/Reservations/GetEvents',
                    method: 'GET',
                    failure: function () {
                        alert('Wystąpił błąd podczas pobierania rezerwacji!');
                    },
                }
            ]


        });

        calendar.render();
    });
</script>
<div id='calendar'></div>